<!--PAGINA WEB-->

<!--NavBar-->
<header>
  <div class="header_superior">
    <div class="logo">
      <img src="./assets/img/APLogo-color.png" alt="" />
    </div>
    <div class="icon_gral">
      <button type="button" onclick="showModalLogin();" class="login_val">
        <i class="bi bi-person-fill"></i>
      </button>

      <div class="container_icon">
        <span class="social_icon">
          <a href="https://wa.me/542616642780?text=Hola" target="_blank">
            <i class="bi bi-whatsapp"></i></a
        ></span>

        <span class="social_icon"
          ><a
            href="https://linkedin.com/in/valeria-saez-738b219a"
            target="_blank"
            ><i class="bi bi-linkedin"></i></a
        ></span>
        <span class="social_icon"
          ><a href="mailto:saez.valeria@gmail.com"
            ><i class="bi bi-envelope"></i></a
        ></span>
        <span class="social_icon"
          ><a href="https://github.com/ValeriaSaez" target="_blank">
            <i class="bi bi-github"></i></a
        ></span>
      </div>
    </div>
  </div>

  <div class="container_menu">
    <div class="menu">
      <input type="checkbox" id="check_menu" />
      <label id="label_menu" for="check_menu">
        <i class="bi bi-list icon_menu"></i>
      </label>
      <nav>
        <ul class="nav">
          <li>
            <a href="#" id="selected">
              <i
                class="bi bi-house-door"
                style="font-size: 1.3rem; color: #f73072"
              ></i
            ></a>
          </li>
          <li><a href="#" id="valeriasaez">VALERIA SAEZ</a></li>
          <li>
            <a href="#" id="educacion">EDUCACIÓN</a>
            <ul>
              <li><a href="#" id="formacion">FORMACIÓN</a></li>
              <li><a href="#" id="conocimientos">CONOCIMIENTOS</a></li>
            </ul>
          </li>
          <li><a href="#" id="portfolio">PORTFOLIO</a></li>
          <li><a href="#" id="contacto">CONTACTO</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--Banners-->
<div class="container-all">
  <input type="radio" id="1" name="image-slide" hidden />
  <input type="radio" id="2" name="image-slide" hidden />
  <input type="radio" id="3" name="image-slide" hidden />

  <div class="slide">
    <div class="item-slide">
      <img src="./assets/img/banner_1_Mesa de trabajo 1.png" />
    </div>

    <div class="item-slide">
      <img src="./assets/img/banner_2_Mesa de trabajo 1.png" />
    </div>

    <div class="item-slide">
      <img src="./assets/img/banner_3_Mesa de trabajo 1.png" />
    </div>
  </div>

  <div class="pagination">
    <label class="pagination-item" for="1">
      <img src="./assets/img/banner_1_Mesa de trabajo 1.png" />
    </label>

    <label class="pagination-item" for="2">
      <img src="./assets/img/banner_2_Mesa de trabajo 1.png" />
    </label>

    <label class="pagination-item" for="3">
      <img src="./assets/img/banner_3_Mesa de trabajo 1.png" />
    </label>
  </div>
</div>
<!--ValeriaSaez-->
<main>
  <article class="valeria_cover">
    <div class="cover">
      <div class="text_informacion_cover">
        <p>Hola! Soy</p>
        <h2>Valeria Saez...</h2>
        <p>
          Una estudiante, apadionada por el Diseño y con interés por el Diseño
          del Desarrollo web. Me encuentro constantemente en la busqueda de
          adquirir nuevos conocimientos y abarcar nuevas áreas en el mundo IT.
        </p>
        <p>
          Quiero crecer profesionalmente y así poder aplicar mis conocimientos
          en proyectos de Desarrollo Web Responsive.
        </p>
        <button type="button" onclick="showModal();" class="boton_redondo">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button class="boton_redondo">
          <i class="bi bi-x-lg"></i>
        </button>
        <div class="button_cover">
          <a download="ValeriaSaez" href="./assets/img/cv_vss-01.png">
            <input
              type="button"
              class="btn_readmore_cover p_button_i"
              value="Curriculum Vitae"
            />
          </a>
        </div>
      </div>
      <div class="img_cover">
        <img src="./assets/img/img_Valeria.png" alt="" />
      </div>
      <button type="button" onclick="showModal();" class="boton_redondo">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </div>
  </article>

  <!--Formacion-->
  <article class="bck_cards">
    <div class="circulo_img">
      <img src="./assets/img/formacion.png" alt="" />
    </div>
    <div class="titulos"><h2>Formación</h2></div>
    <div class="container_card">
      <div class="card_father">
        <div class="card">
          <div
            class="card_front"
            style="background-image: url(./assets/img/utncolor-01.png)"
          >
            <div class="bg"></div>
            <div class="body_card_front">
              <h1>1999-2002</h1>
              <p>
                Universidad Tecnológica Nacional (U.T.N) - Mendoza - Argentina
              </p>
            </div>
          </div>
          <div class="card_back">
            <div class="body_card_back">
              <p>
                Ingeniería en Sistemas de Información. Tercer año Incompleto.
              </p>
              <button
                type="button"
                onclick="showModal();"
                class="boton_redondo"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="boton_redondo">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card_father">
        <div class="card">
          <div
            class="card_front"
            style="background-image: url(./assets/img/UBdisegncolor-01.png)"
          >
            <div class="bg"></div>
            <div class="body_card_front">
              <h1>2003-2006</h1>
              <p>Instituto Manuel Belgrano (I.M.B) - Mendoza - Argentina</p>
            </div>
          </div>
          <div class="card_back">
            <div class="body_card_back">
              <p>
                Técnico Superior en Diseño Gráfico y Publicitario. Cursado
                Completo.
              </p>
              <button
                type="button"
                onclick="showModal();"
                class="boton_redondo"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="boton_redondo">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card_father">
        <div class="card">
          <div
            class="card_front"
            style="background-image: url(./assets/img/APcolor-01.png)"
          >
            <div class="bg"></div>
            <div class="body_card_front">
              <h1>2021-2022</h1>
              <p>Argentina Programa - Argentina</p>
            </div>
          </div>
          <div class="card_back">
            <div class="body_card_back">
              <p>Programador Web Full Stack junior. #YoProgramo</p>
              <button
                type="button"
                onclick="showModal();"
                class="boton_redondo"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="boton_redondo">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button type="button" onclick="showModal();" class="boton_redondo">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </article>

  <!--Conocimientos-->
  <article class="bck_cards_uno">
    <div class="circulo_img">
      <img src="./assets/img/conocimiento_Mesa de trabajo 1.png" alt="" />
    </div>
    <div class="titulos"><h2>Conocimientos</h2></div>

    <div class="container_skills">
      <div class="skills">
        <li>
          <h4>Html5</h4>
          <span class="bar"><span class="html"></span></span>
        </li>
        <li>
          <h4>Css3</h4>
          <span class="bar"><span class="css"></span></span>
        </li>
        <li>
          <h4>JS</h4>
          <span class="bar"><span class="js"></span></span>
        </li>
        <li>
          <h4>Angular</h4>
          <span class="bar"><span class="angular"></span></span>
        </li>
        <button type="button" onclick="showModal();" class="boton_redondo">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
      <div class="skills_design">
        <li>
          <h4>bootstrap5</h4>
          <span class="bar"><span class="bootstrap"></span></span>
        </li>
        <li>
          <h4>illustrator</h4>
          <span class="bar"><span class="illustrator"></span></span>
        </li>
        <li>
          <h4>photoshop</h4>
          <span class="bar"><span class="photoshop"></span></span>
        </li>
        <li>
          <h4>figma</h4>
          <span class="bar"><span class="figma"></span></span>
        </li>
        <button type="button" onclick="showModal();" class="boton_redondo">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
    </div>
    <button type="button" onclick="showModal();" class="boton_redondo">
      <i class="bi bi-plus-lg"></i>
    </button>
  </article>
  <!--portfolio-->
  <article class="job">
    <div class="titulos"><h2>Portfolio</h2></div>
    <div class="container_job">
      <div class="box" style="background-color: #f73072">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>

      <div class="box">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box">
        <div class="box-port">
          <img src="./assets/img/portfolio_resp_Mesa de trabajo 1.png" alt="" />
        </div>
      </div>
      <div class="box" style="background-color: #f95db3">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box" style="background-color: #fc0b89">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
      <div class="box" style="background-color: #f9d7ec">
        <button
          type="button"
          onclick="showModal();"
          class="boton_redondo_portfolio"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <h5></h5>
      </div>
    </div>
  </article>
</main>
<!--Footer-->
<footer>
  <div class="container_footer_all">
    <div class="container_footer">
      <div class="colum1">
        <div class="logo">
          <img src="./assets/img/APLogo-20-20.png" />
        </div>
        <h3>
          Argentina Programa | Plan nacional de formación en programación.
        </h3>
        <p>
          #YoProgramo. Esta Segunda Etapa de Argentina Programa, permitirá
          profundizar conocimientos y adquirir las habilidades y herramientas
          necesarias para convertirte en un programador web full-stack junior.
        </p>
      </div>

      <div class="colum2">
        <h3>Informacion de Contacto</h3>
        <div class="row2">
          <span class="social_icon_footer"
            ><a
              href="https://www.google.com/maps/place/Liceo+Country+Club/@-32.9884594,-68.8215797,15z/data=!4m5!3m4!1s0x0:0x88a90f3a8311b1ef!8m2!3d-32.9884594!4d-68.8215797"
              target="_blank"
              ><i class="bi bi-geo-alt-fill"></i></a
          ></span>
          <label class="label_footer"
            >Liceo Country Club MR C10 | Maipú | Mendoza | Argentina</label
          >
        </div>
        <div class="row2">
          <span class="social_icon_footer"
            ><a href="https://wa.me/542616642780?text=Hola" target="_blank">
              <i class="bi bi-phone-vibrate"></i></a
          ></span>
          <label class="label_footer">+54 261 6642780</label>
        </div>
        <div class="row2">
          <span class="social_icon_footer"
            ><a href="mailto:saez.valeria@gmail.com"
              ><i class="bi bi-envelope"></i></a
          ></span>
          <label class="label_footer">saez.valeria@gmail.com</label>
        </div>
        <div class="container_footer_redes"></div>
        <h3>Redes Sociales</h3>

        <div class="container_icon">
          <span class="social_icon_footer"
            ><a href="https://wa.me/542616642780?text=Hola" target="_blank"
              ><i class="bi bi-whatsapp"></i></a
          ></span>
          <span class="social_icon_footer"
            ><a
              href="https://linkedin.com/in/valeria-saez-738b219a"
              target="_blank"
              ><i class="bi bi-linkedin"></i></a
          ></span>
          <span class="social_icon_footer"
            ><a href="https://github.com/ValeriaSaez" target="_blank">
              <i class="bi bi-github"></i></a
          ></span>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--ModalBoostrap-->
<div id="modal_mod_formacion" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar Formacion</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="message-text" class="col-form-label"
            >Escribir texto:</label
          >
          <textarea class="mod_formacion" id="message-text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!--Login-->

<section id="modal_login" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div
      class="modal-content"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        background: none !important;
        box-shadow: none !important;
        border-style: none !important;
      "
    >
      <div class="container_form_login">
        <div class="unlock">
          <img src="assets/img/login.png" alt="" />
        </div>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="closeModalLogin();"
          id="close"
        ></button>

        <h2>Iniciar Sesion</h2>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" placeholder="usuario" name="" />
            <input type="password" placeholder="password" name="" />
            <input class="check" type="checkbox" id="checkid" />
            <label for="checkid">Recordar Contraseña</label>
            <a href="">¿Olvidaste Contraseña?</a>
          </div>
        </div>
        <div class="button_cover btn_login_cover">
          <input
            type="button"
            class="btn_readmore_cover"
            value="Iniciar Sesión"
            (onclick)="validarInicioSesion()"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modal_cv-->
